html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Amatic SC", cursive;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 0.4629202022605917) 0%, rgba(252, 200, 69, 0.5413515748096114) 100%);
}

.container {
  flex: 1 0 auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.halfmain {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  padding: 50px 15px 0px 15px;
}

.main-text {
  padding: 20px 10px 20px 10px;
}

.main-text__btn {
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  border: none;
  height: 50px;
  width: 90px;
  text-align: center;
  margin-right: 10px;
  border-radius: 10px;
  background-color: bisque;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #ed4264 0%, #ffedbc 51%, #ed4264 100%);
}

.main-text__btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.main-text__btnS {
  outline: none;
  display: inline-block;
  border: none;
  text-decoration: none;
  height: 50px;
  width: 90px;
  text-align: center;
  border-radius: 10px;
  background-color: bisque;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
  transition: all 0.3s;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #ed4264 0%, #ffedbc 51%, #ed4264 100%);
}

.main-text__btnS:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.main-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  border: none;
}

.main-text__phr {
  padding: 30px 10px 30px 10px;
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  width: 365px;
}

.halfmain-back {
  margin-bottom: 50px;
  outline: none;
  display: inline-block;
  border: none;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  background-color: bisque;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #ed4264 0%, #ffedbc 51%, #ed4264 100%);
}

.showPhr {
  margin-top: 15px;
  padding: 5px;
}

.done {
  color: white;
  padding: 5px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.7654412106639531) 0%,
    rgba(253, 29, 29, 0.7794468129048494) 50%,
    rgba(252, 176, 69, 0.7990546560421043) 100%
  );
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

footer {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}

.footer-text {
  font-family: "Caveat Brush", cursive;
  font-size: 20px;
  background: linear-gradient(90deg, rgba(130, 73, 255, 1) 34%, rgba(47, 189, 140, 1) 80%, rgba(0, 164, 48, 0.9251050762101716) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart {
  background-color: red !important;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 13px;
}

@media (max-width: 430px) {
  .main {
    margin: 0px 15px 0px 15px;
  }
  .halfmain {
    padding: 20px 10px 25px 10px !important;
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    font-size: 30px;
    text-align: center;
    padding: 0;
    text-align: center;
  }
  .main-text {
    font-size: 35px;
  }
  .main-text__input {
    font-size: 25px;
    margin: 0 auto;
  }
  .main-btn {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
  }
  .main-text__btn {
    top: 0;
    left: 0;
    height: 35px;
    margin-right: 10px;
  }
  .main-text__btnS {
    margin: 0;
    top: 0;
    left: 0;
    height: 35px;
  }
  .main-text__phr {
    width: auto;
    height: auto;
    padding: 0;
  }
  .showPhr {
    margin-top: 15px;
  }
  .footer > .addPhr {
    width: 7em;
    font-size: 25px;
  }
  .footer > .footer-text {
    font-size: 20px;
  }
}

.main-text__input {
  font-size: 40px;
  width: 230px;
  display: inline-block;
  color: #f4f2ca;
  text-align: center;
  padding: 5px 10px 5px 10px;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-text__input.active {
  width: 300px;
  outline: none;
  color: #efaa9d;
  text-align: left;
  cursor: inherit;
  border: pink solid;
}
